<% if current_user.try(:admin?) %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-md btn-primary' %>
<% end %><br><br>
<div class="row">
  <% @articles.each do |article| %>
  <div class="col col-md-4" style="margin: 05px 0">
   <a href="<% link_to article %>"><%= link_to (image_tag article.try(:photo).url(:medium)), article, class: "img-thumbnail" %>
    <h4><%= link_to truncate(article.title, length: 30), article %></h4>
    </a>

    <% if current_user.try(:admin?) %>
    <td><%= link_to 'Show', article, class: "btn btn-xs btn-success" %>
        <%= link_to 'Edit', article_path(article), class: "btn btn-xs btn-warning" %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn btn-danger btn-xs" %></td>
    <% end %>
  </div>
  <% end %>
</div>

<div align="center">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails%>
</div>
