<% obj.each do |post| %>
<div class="row">
  <div class="well wel-lg">
    <h4 align="center" id="title"><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.text %></p>
    <div class="article-meta-details">
        <small>Created by: <%= link_to post.user.try(:first_name)%>,
        <%= time_ago_in_words(post.created_at) %> ago,

      last updated: <%= time_ago_in_words(post.updated_at) %> ago</small>
    </div>
      <% if current_user %>
        <div>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-xs btn-primary" %>
          <%=  link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are 
            you sure you want to delete it?"}, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
  </div>
</div>
<% end %>


<%= link_to 'New Post', new_post_path, class: "btn btn-lg btn-success" %><br>
