<div class="row">
  <% @videos.each do |video| %>
  <div class="col col-md-4">
    <a><iframe width="352" height="240"
    src="<%= video.title %>">
    </iframe></a>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Video', new_video_path %>
