<%= tinymce %>
<%= form_for(@news_page) do |f| %>
  <% if @news_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_page.errors.count, "error") %> prohibited this news_page from being saved:</h2>

      <ul>
      <% @news_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field" >
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 30, :cols => 120 %>
  </div>
  <div class="form-group">
    <div>
    <img src="/assets/add.png"><%= f.file_field :image, class: "form-control"%>
    </div>
  </div>
  

  <div class="form-group">
    <%= f.submit class: 'btn btn-md btn-info' %>
  </div>
<% end %>
